<div class="dashboard-container">

    <div class="sidebar">
        <h2>Admin</h2>
        <ul>
            <li><a routerLink="courses">Courses</a></li>
            <li><a routerLink="trainers">Trainers</a></li>
            <li><a routerLink="enrollment">Enrollment Details</a></li>
        </ul>
    </div>

    <div class="main">
        <div class="topbar">
            <h3>Admin Dashboard</h3>
            <span><i class="fa-solid fa-right-from-bracket" (click)="logout()"></i></span>
        </div>

        <div class="content">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>