<div class="container">
    <button class="btn_trainer" (click)="createTrainer()">Create Course</button>
    <div class="row">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>

                    <th>name</th>
                    <th>email</th>
                    <th>address</th>
                    <th>gender</th>
                    <th>subject</th>
                    <th>exp</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                <tr id="d1" *ngFor="let item of trainers">

                    <td id="m1">{{item.name}}</td>
                    <td id="f1">{{item.email}}</td>
                    <td id="l1">{{item.address}}</td>
                    <td id="m1">{{item.gender}}</td>
                    <td id="m1">{{item.subject}}</td>
                    <td id="m1">{{item.exp}}</td>
                    <td>
                        <span class="text-warning"><i class="fa-solid fa-edit"></i></span>
                    </td>
                    <td>
                        <span class="text-danger"><i class="fa-solid fa-close"></i></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>