<div class="container">
    <form [formGroup]="courseForm" (ngSubmit)="saveCourse(courseForm.value)">

        <div class="mb-3">
            <label>Course Name</label>
            <input type="text" class="form-control" formControlName="coursename">
        </div>

        <div class="mb-3">
            <label>Course Duration</label>
            <input type="text" class="form-control" formControlName="courseDuration">
        </div>

        <div class="mb-3">
            <label>Video Recording</label>
            <select class="form-control" formControlName="videoRecording">
                <option>True</option>
                <option>False</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Status</label>
            <select class="form-control" formControlName="status">
                <option value="ACTIVE">Active</option>
                <option value="INACTIVE">Inactive</option>
            </select>
        </div>

        <button class="btn btn-success">Submit</button>

    </form>
</div>